#/usr/bin/env bash

#
# Permission and User Management
#

sudo_alias -b chown='chown -R'
sudo_alias -b chmod='chmod -R'
sudo_alias -b chgrp='chgrp -R'

#
# File Information and Management
#

alias ls='ls --color=auto'
sudo_alias -b cp
sudo_alias -b mv
sudo_alias -b rm
sudo_alias -b mkdir='mkdir -p'
sudo_alias -b rmdir='rm -r'
sudo_alias -b touch='touch'
sudo_alias -b sln='ln -s'

#
# Device Management
#

sudo_alias mount='mount -m'
sudo_alias umount 

#
# Programs
#

alias edit="$EDITOR"
alias suedit='sudoedit'
alias pkgmgr='paru'
sudo_alias pacman
sudo_alias ufw
sudo_alias sysctl='systemctl'
sudo_alias reboot

#
# Hererocks
#

if [[ -e $HEREROCKS ]]; then
	lua_installations=($HEREROCKS/lua*)
	for lua_installation in ${lua_installations[@]}; do
		version=${lua_installation##$HEREROCKS/lua}
		alias lua$version="$lua_installation/bin/lua"
		alias luarocks$version="$lua_installation/bin/luarocks"
	done

	alias lua-latest="${lua_installations[-1]}/bin/lua"
	alias luarocks-latest="${lua_installations[-1]}/bin/luarocks"
	alias moon="$HEREROCKS/lua5.2/bin/moon"
	alias moonc="$HEREROCKS/lua5.2/bin/moonc"
fi

#
# Configuration Aliases
#

alias configure-sudoers='sudo visudo'
configuration_alias hosts /etc/hosts
configuration_alias ssh-daemon /etc/ssh/sshd_config 'sudo systemctl reload sshd' 'Reloading SSH Daemon configuration...'
configuration_alias ssh-client ~/.ssh/config
configuration_alias nano-user ~/.nano/user.nanorc
configuration_alias nano-root ~/.nano/root.nanorc
configuration_alias git ~/.gitconfig
configuration_alias pacman /etc/pacman.conf

# Apache
if systemctl is-active --quiet httpd; then
	configuration_alias apache /etc/httpd/conf/httpd.conf 'sudo systemctl reload httpd' 'Reloading Apache...'
	configuration_alias php /etc/php/php.ini 'sudo systemctl reload httpd' 'Reloading Apache...'
fi

#
# Bash Configurations
#

configuration_alias bash ~/.bashrc 'source ~/.bashrc'
configuration_alias profile ~/.profile 'source ~/.bashrc' 'Reloading Bash configuration...'
configuration_alias aliases ~/.aliases 'source ~/.bashrc' 'Reloading Bash configuration...'
