<!DOCTYPE gui>
<gui name="konsole" translationDomain="kxmlgui5" version="19">
 <MenuBar alreadyVisited="1">
  <Menu name="file" noMerge="1" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;File</text>
   <Action name="new-window"/>
   <Action name="new-tab"/>
   <Action name="clone-tab"/>
   <Separator/>
   <DefineGroup name="session-operations"/>
   <Separator/>
   <DefineGroup name="session-tab-operations"/>
   <Action name="close-window"/>
  </Menu>
  <Menu name="edit" noMerge="1" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;Edit</text>
   <DefineGroup name="session-edit-operations"/>
  </Menu>
  <Menu name="view" noMerge="1" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;View</text>
   <Menu name="view-split" noMerge="1">
    <text translationDomain="konsole">Split View</text>
    <Action name="split-view-left-right"/>
    <Action name="split-view-top-bottom"/>
    <Action name="close-active-view"/>
    <Action name="close-other-views"/>
    <Action name="expand-active-view"/>
    <Action name="shrink-active-view"/>
    <Action name="toggle-maximize-current-view"/>
    <Action name="equal-size-view"/>
   </Menu>
   <Separator/>
   <Action name="detach-tab"/>
   <Action name="detach-view"/>
   <Action name="save-layout"/>
   <Action name="load-layout"/>
   <Separator/>
   <DefineGroup name="session-view-operations"/>
   <Separator weakSeparator="1"/>
   <Action name="fullscreen"/>
  </Menu>
  <Action name="bookmark"/>
  <Menu name="plugins" noMerge="1">
   <text translationDomain="konsole">Plugins</text>
   <ActionList name="plugin-submenu"/>
  </Menu>
  <Menu name="settings" noMerge="1" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;Settings</text>
   <DefineGroup name="session-settings"/>
   <Action name="manage-profiles"/>
   <Action name="show-menubar"/>
   <Action name="window-colorscheme-menu"/>
   <Separator/>
   <Action name="view-full-screen"/>
   <Separator/>
   <Action name="configure-shortcuts"/>
   <Action name="configure-notifications"/>
   <Action name="configure-settings"/>
   <Separator weakSeparator="1"/>
   <Action name="options_show_menubar"/>
   <Merge name="StandardToolBarMenuHandler"/>
   <Merge name="KMDIViewActions"/>
   <Separator weakSeparator="1"/>
   <Action name="switch_application_language"/>
   <Action name="options_configure_keybinding"/>
   <Action name="options_configure_toolbars"/>
   <Action name="options_configure_notifications"/>
   <Action name="options_configure"/>
  </Menu>
  <Separator weakSeparator="1"/>
  <Menu name="help" noMerge="1" alreadyVisited="1">
   <text translationDomain="kxmlgui5">&amp;Help</text>
   <Action name="help_contents"/>
   <Action name="help_whats_this"/>
   <Action name="open_kcommand_bar"/>
   <Separator weakSeparator="1"/>
   <Action name="help_report_bug"/>
   <Separator weakSeparator="1"/>
   <Action name="help_donate"/>
   <Separator weakSeparator="1"/>
   <Action name="help_about_app"/>
   <Action name="help_about_kde"/>
  </Menu>
 </MenuBar>
 <ToolBar name="mainToolBar" noMerge="1" alreadyVisited="1">
  <text translationDomain="kxmlgui5">Main Toolbar</text>
  <index>0</index>
  <Action name="new-tab"/>
  <Action name="new-window"/>
  <Action name="split-view"/>
  <Action name="bookmark"/>
 </ToolBar>
 <ActionProperties scheme="Default">
  <Action name="activate-menu" shortcut=""/>
  <Action name="add_bookmark" shortcut=""/>
  <Action name="clone-tab" shortcut="Ctrl+T, Ctrl+C"/>
  <Action name="close-window" shortcut="Ctrl+W, Ctrl+X"/>
  <Action name="detach-tab" shortcut="Ctrl+T, Ctrl+D"/>
  <Action name="detach-view" shortcut="Ctrl+P, Ctrl+D"/>
  <Action name="equal-size-view" shortcut="Ctrl+P, Ctrl+0"/>
  <Action name="expand-active-view" shortcut="Ctrl+P, Ctrl+="/>
  <Action name="focus-view-above" shortcut=""/>
  <Action name="focus-view-below" shortcut=""/>
  <Action name="focus-view-left" shortcut=""/>
  <Action name="focus-view-right" shortcut=""/>
  <Action name="last-tab" shortcut="Ctrl+T, Ctrl+Tab"/>
  <Action name="last-used-tab" shortcut=""/>
  <Action name="last-used-tab-reverse" shortcut=""/>
  <Action name="move-tab-to-left" shortcut="Ctrl+T, Ctrl+Shift+Left"/>
  <Action name="move-tab-to-right" shortcut="Ctrl+T, Ctrl+Shift+Right"/>
  <Action name="new-tab" shortcut="Ctrl+T, Ctrl+T"/>
  <Action name="new-window" shortcut="Ctrl+W, Ctrl+W"/>
  <Action name="next-tab" shortcut="Ctrl+T, Ctrl+Right; Ctrl+PgDown"/>
  <Action name="open_kcommand_bar" shortcut=""/>
  <Action name="options_configure" shortcut=""/>
  <Action name="options_configure_keybinding" shortcut=""/>
  <Action name="options_show_menubar" shortcut=""/>
  <Action name="previous-tab" shortcut="Ctrl+T, Ctrl+Left; Ctrl+PgUp"/>
  <Action name="semantic-setup-bash" shortcut=""/>
  <Action name="shrink-active-view" shortcut="Ctrl+P, Ctrl+-"/>
  <Action name="split-view-auto" shortcut="Ctrl+P, Ctrl+'"/>
  <Action name="split-view-left-right" shortcut="Ctrl+P, Ctrl+/"/>
  <Action name="split-view-top-bottom" shortcut="Ctrl+P, Ctrl+\"/>
  <Action name="switch-to-tab-0" shortcut=""/>
  <Action name="switch-to-tab-1" shortcut=""/>
  <Action name="switch-to-tab-2" shortcut=""/>
  <Action name="switch-to-tab-3" shortcut=""/>
  <Action name="switch-to-tab-4" shortcut=""/>
  <Action name="switch-to-tab-5" shortcut=""/>
  <Action name="switch-to-tab-6" shortcut=""/>
  <Action name="switch-to-tab-7" shortcut=""/>
  <Action name="switch-to-tab-8" shortcut=""/>
  <Action name="switch-to-tab-9" shortcut=""/>
  <Action name="toggle-line-numbers" shortcut=""/>
  <Action name="toggle-maximize-current-view" shortcut=""/>
  <Action name="toggle-semantic-hints" shortcut=""/>
  <Action name="help_contents" shortcut=""/>
 </ActionProperties>
</gui>
